h1 {
    text-align: center;
    color: #212121;
    padding-bottom: .5em;
    position: relative;
    font-size: 2.5em;
}

.form-module {
    position: relative;
    background: #ffffff;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #6096ea;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin: 3em auto 0;
}

    .form-module h2 {
        margin: 0 0 1.5em;
        color: #212121;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1;
    }

    .form-module .form {
        padding: 35px;
    }

    .form-module input[type="text"], .form-module input[type="password"], .form-module input[type="email"] {
        outline: none;
        display: block;
        width: 100%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-weight: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        font-size: 14px;
    }

        .form-module input[type="text"]:focus, .form-module input[type="password"]:focus, .form-module input[type="email"]:focus {
            border: 1px solid #A9A9A9;
            color: #333333;
        }

    .form-module input[type="submit"] {
        background: #6096ea;
        width: 100%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        font-size: 14px;
        font-weight: bold;
    }

        .form-module input[type="submit"]:hover {
            background: #0044ff;
        }

    .form-module .cta {
        background: #343434;
        width: 100%;
        padding: 15px 40px;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
    }

        .form-module .cta a {
            color: #fff;
            text-decoration: none;
            font-size: 1em;
        }